:root {
    /*Colors*/

    /* Primary */
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);

    /* Neutral*/
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
}

article {
    padding: 20px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    background-color: var(--cream);
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0 auto;
    align-items: center;
}

body p {
    font-size: 0.9rem;
    line-height: 1.5rem;
}

button {
    background-color: var(--dark-cyan);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    border: none;
    color: var(--white);
    margin: 1rem 0;
    display: block;
    width: 100%;
    padding: 1rem 0;
    border-radius: 8px;
    display: flex;
    justify-content: center;

}

button:hover {
    background-color: var(--very-dark-blue);

}

h1 {
    color: var(--very-dark-blue);
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 2.1rem;
    margin: 1rem 0;
    line-height: 2rem;
}

img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

main {
    padding: 0;
    width: 350px;
    margin: 0 auto;
    background-color: var(--white);
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

#newPrice {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 2rem;
    color: var(--dark-cyan);
    
}

#oldPrice {
    text-decoration: line-through;
    color: var(--dark-grayish-blue);
    padding-left: 1rem;
}

p {
    margin: 0;
    color: var(--dark-grayish-blue);
}

#perfume {
    font-size: 0.8rem;
    letter-spacing: 0.3rem;
}

#price {
    display: flex;
    margin-top: 1.3rem;
    align-items: center;
}

#price a {
    /* display: inline-block;
 */
}

#shopping-cart {
    width: 20px;
    margin: 0 0.8rem;
}