:root {
    /*Colors*/

    /* Primary */
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);

    /* Neutral*/
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
}

article {
    padding: 20px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    background-color: var(--cream);
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0 auto;
    align-items: center;
}


button {
    background-color: var(--dark-cyan);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    border: none;
    color: var(--white);
    display: block;
    width: 100%;
    padding: 1rem 0;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

button:hover {
    background-color: var(--very-dark-blue);

}

h1 {
    color: var(--very-dark-blue);
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 2rem;
    margin: 1rem 0;
    line-height: 2rem;
}

img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

#img-Desktop {
    display: none;
}

main {
    padding: 0;
    width: 320px;
    background-color: var(--white);
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

#newPrice {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 2rem;
    color: var(--dark-cyan);
}

#oldPrice {
    text-decoration: line-through;
    color: var(--dark-grayish-blue);
    padding-left: 1rem;
}

p {
    margin: 0;
    font-size: 0.8rem;
    line-height: 1.5rem;
    color: var(--dark-grayish-blue);
}

#perfume {
    font-size: 0.6rem;
    letter-spacing: 0.3rem;
    font-weight: 700;
}

#price {
    display: flex;
    margin: 1.3rem 0;
    align-items: center;
}

#shopping-cart {
    width: 20px;
    margin: 0 0.8rem;
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    html {
        font-size: 20px;
    }

    main {
        width: 58%;
        margin: 0 auto;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
        
    article {
        padding: 0 1.6rem;
        width: 70%;
    }

    br {
        display: none;
    }

    html {
        font-size: 19px;
    }

    h1 {
        padding: 1rem 0;
        font-size: 2.6rem;
        line-height: 2.5rem;
    }

    #img-Mobile {
        display: none;
    }

    #img-Desktop {
        display: block;
        border-radius: 10px 0 0 10px;
    }

    main {
        display: flex;
        width: 80%;
        max-width: 1000px;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    p {
        font-size: 1.1rem;
        line-height: 1.8rem;
    }

    #perfume {
        font-size: 0.9rem;
        letter-spacing: 0.3rem;
        font-weight: 500;
    }

    #shopping-cart{
        width: 20px;
        margin: 0 0.8rem;
    }
}